<nav>
  <div class="site-title">
    <a href="/"><h1>Novel Reader</h1></a>
    <p>A Rayudu Chandu's POC Site</p>
  </div>
  <ul>
    <li><a href="/">Novels</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/novels/create">New Novel</a></li>
  </ul>
</nav>