<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>Git Hub: <a href="https://github.com/rsschandu">https://github.com/rsschandu</a></p>
    <p>Linked In: <a href="https://www.linkedin.com/in/chandu-rayudu-3b1ab5148/">https://www.linkedin.com/in/chandu-rayudu-3b1ab5148/</a></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>